<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -lessons Automation</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
    @*<img src="/images/icon.jpg" alt="HTML5 Icon" style="width:50px;height:50px">*@
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Lessons Program", "ToAddd", "Schedul", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Add or edit a lesson ", "Index", "EditOrDeleteLesson")</li>
                    <li>@Html.ActionLink("Add a new teacher", "Index", "EditOrAddTeachers")</li>
                    <li>@Html.ActionLink("Classes", "Index", "ClassRoom")</li>
                    <li>@Html.ActionLink("Set unavailable days", "Index", "UnavDays")</li>
                    @*<li>@Html.ActionLink("Set unavailable times", "Index", "Untime")</li>*@

                    <li>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</li>
                    <li id="Logout">@Html.ActionLink("Logout", "Logout", "Login")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @*<img src="Images/icon.jpg" alt="Girl in a jacket">*@

        <hr />



        @RenderBody()
        <footer>
            <p>&copy; Çukurova University-@DateTime.Now.Year  </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
