@model _123.Models.Unavaliable_Time

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Unavaliable_Time</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Teacher_ID, "Teacher_ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Teacher_ID", String.Empty)
                @Html.ValidationMessageFor(model => model.Teacher_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Morning, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Morning)
                @Html.ValidationMessageFor(model => model.Morning)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Noon, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Noon)
                @Html.ValidationMessageFor(model => model.Noon)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Afternoon, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Afternoon)
                @Html.ValidationMessageFor(model => model.Afternoon)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Evning, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Evning)
                @Html.ValidationMessageFor(model => model.Evning)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Night, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Night)
                @Html.ValidationMessageFor(model => model.Night)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
